{% extends "base.html" %}

{% block content %}
    <h2>Groups</h2>
    {% for group in groups %}
        <fieldset class="form-group row">
            <legend class="col-form-legend col-sm-2">{{ group }}</legend>
            {% for member in group_members[group] %}
                <a href="/retrace/{{ member.user_id }}">
                    <p>{{ member.email }}</p>
                </a>
            {% endfor %}
            <form action="/groups/{{ group }}" method="POST">
                <select name="addUser">
                    {% for u in all_users %}
                        {% if u not in group.members %}
                            <option value={{ u.key.urlsafe() }}>{{ u.email }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary">
                    Add User
                </button>
            </form>
        </fieldset>
    {% endfor %}
{% endblock %}
